{% extends "default_layout.html" %}
{% block body %}
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item active" aria-current="page">
<a href="{{ url_for('apresentacao') }}">
Apresenta&ccedil;&atilde;o</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('admin') }}">
Dashboard dos Guri</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('cadastrar') }}">
Cadastro de apresenta&ccedil;&atilde;o</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('register') }}">
Registro dos Guri</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('login') }}">
Login dos Guri</a></li>
</ol>
</nav>
{% block main %}{% endblock %}
{% endblock %}
