{% extends "default_layout.html" %}
{% block body %}
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="{{ url_for('apresentacao') }}">
Apresenta&ccedil;&atilde;o</a></li>
<li class="breadcrumb-item active" aria-current="page">
Dashboard dos Guri</li>
<li class="breadcrumb-item"><a href="{{ url_for('cadastrar') }}">
Cadastro de apresenta&ccedil;&atilde;o</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('register') }}">
Registro dos Guri</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('login') }}">
Login dos Guri</a></li>
</ol>
</nav>
{% if chave %}
<link
  rel="stylesheet"
  href="https://pyscript.net/latest/pyscript.css"
/>
<script defer src="https://pyscript.net/latest/pyscript.js"></script>
<py-config
src="{{ url_for('static', filename = 'pyscript-config.toml') }}"
></py-config>
<py-script>
url = "{{ url_for('set_contador') }}"
chave = "{{ chave }}"
contador_url = "{{ url_for('contador', chave = chave) }}"
</py-script>
<py-script
  src="{{ url_for('static', filename = 'index.py') }}"
></py-script>
<py-script
  src="{{ url_for('static', filename = 'admin.py') }}"
></py-script>
<h2>{{ title }}</h2>
<div class="container">
<div class="row">&nbsp;</div>
<div class="row">
<div class="col-sm">
<iframe
  src="{{ ic_url }}"
  style="border:0px #ffffff none;width: 100%; height: 100%"
  name="internet-clicker-embed"
  scrolling="no"
  frameborder="1"
  margin="0"
></iframe>
</div> <!-- col-sm -->
</div> <!-- row -->
<div class="row">&nbsp;</div>
<div class="row">
<div class="col-sm">
<center>
<div id="contador" class="bg-success"></div>
</center>
</div> <!-- col-sm -->
</div> <!-- row -->
<div class="row">&nbsp;</div>
<div class="row">
<div class="col-sm">
<div class="card">
<div class="card-body">
<h5 class="card-title">Reiniciar contador</h5>
<div class="card-text btn-group">
{% for m in ('45', '30', '20', '10', '5', '2', '1') %}
<button
  class="btn btn-primary"
  py-click="edita_contador(minuto = '{{ m }}')"
>+{{ m }}m</button>
{% endfor %}
<button
  class="btn btn-warning"
  py-click="edita_contador(segundo = '30')"
>+30s</button>
<button class="btn btn-danger" py-click="edita_contador()"
>CHEGA</button>
</div> <!-- btn-group -->
</div> <!-- card-body -->
</div> <!-- card -->
</div> <!--col-sm -->
</div> <!-- row -->
<div class="row">
<div class="col">
<div class="container">
<div class="row">&nbsp;</div>
<div class="row">
<div class="col">
<div class="card">
<div class="card-body">
<h5 class="cart-title">Log</h5>
<div class="card-text">
<div id="logging" role="alert" class="alert"></div>
</div> <!-- card-text -->
</div> <!-- card-body -->
</div> <!-- card -->
</div> <!-- col -->
</div> <!-- row -->
</div> <!-- container -->
</div> <!-- col -->
</div> <!-- row -->
</div> <!-- container -->
{% else %}
<form action="" method="post">
<p>
{{ form.chave.label }}
{{ form.chave(class="form-control") }}
{% for error in form.chave.errors %}
  <span class="badge badge-danger">[{{ error }}]</span>
{% endfor %}
</p>
<p>{{ form.submit(class="btn btn-primary") }}</p>
</form>
{% if mensagem %}
<hr>
<div class="container">
<div class="row">
<div class="col">
<div class="card bg-warning text-dark mb-3 shadow-sm">
<div class="card-body">
{{ mensagem }}
</div> <!-- card-body -->
</div> <!-- card -->
</div> <!-- col -->
</div> <!-- row -->
</div> <!-- container -->
{% endif %}
{% endif %}
{% endblock %}
<!--
<script type="text/javascript"
  src="{{ url_for('static', filename = 'admin.js') }}"
></script>
-->

