{% extends "admin_layout.html" %}
{% block main %}
<h2>{{ title }}</h2>
{% if message %}
<h3>Resultado do &uacute;ltimo comando:</h3>
<div class="container">
<div class="row">
<div class="col">
<div class="card bg-info text-dark mb-3 shadow-sm">
<div class="card-body">
<div class="card-text">
{{ message }}
</div> <!-- card-text -->
</div> <!-- card-body -->
</div> <!-- card -->
</div> <!-- col -->
</div> <!-- row -->
</div> <!-- container -->
<hr>
{% endif %}
{% if exception %}
<h3>&Uacute;ltimo erro:</h3>
<div class="container">
<div class="row">
<div class="col">
<div class="card bg-danger text-dark mb-3 shadow-sm">
<div class="card-body">
<div class="card-text">
{{ exception }}
</div> <!-- card-text -->
</div> <!-- card-body -->
</div> <!-- card -->
</div> <!-- col -->
</div> <!-- row -->
</div> <!-- container -->
<hr>
{% endif %}
{% if users %}
<h3>Guris registrados</h3>
<h4>(use a mesma chave no formul&aacute;rio abaixo para sobrescrever)
</h4>
<table class="table table-striped table-hover table-light">
<thead>
  <tr>
    <th scope="col">Guri</th>
    <th scope="col">Senha</th>
  </tr>
</thead>
<tbody>
{% for user in users.items() %}
  <tr>
    <th scope="row">{{ user[0] }}</th>
    <td>eucurto{{ senha_lista | random }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
<hr>
{% endif %}
<h3>Registrar mais um Guri ou editar um dos Guri</h3>
<form action="" method="post">
{% for item in (
  form.username,
  form.password,
  form.confirm,
) %}
<div class="mb-3">
{{ item.label(class="form-label") }}
{{ item(class="form-control") }}
</div>
{% for error in item.errors %}
  <span class="badge badge-danger">[{{ error }}]</span>
{% endfor %}
{% endfor %}
{{ form.submit(class="btn btn-primary") }}
</form>
</body>
{% endblock %}
